
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items : center;
    background-image:url("../image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.memory_game{
    width: 62rem;
    height: 62rem;
    background-color: aqua;
}
header{
     padding-top: 2rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
h2 {
    font-style: italic;
    background-image: linear-gradient(to right, rgb(196, 156, 156)  , rgba(255, 102, 0, 0.521));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}